
h1{
    text-align:center;
    color:rgb(2, 75, 93);
    font-family:Arial, Helvetica, sans-serif;
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: black;
}